* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
    color: #535353;
    font-size: 25px;
    margin: 3vw;
    padding-bottom: 3vw;
}

h2 {
    text-align: center;
    color: #535353;
    font-size: 18px;
}

/*-------Navigation-------*/
#myTopnav {
    background-image: linear-gradient(to right, #ddffdd, #a5e8a5, #f2fff1);
}

#border_header hr {
    width: 94%;
    height: 4px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #ddffdd, #76ad71, #f2fff1);
    border-style: none;
}

.topnav a {
    float: left;
    display: block;
    color: #4b804b;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    z-index: 3;
    font-weight: 500;
}

.topnav a:first-child {
    background-image: url(/images/logo5.png);
    background-size: cover;
    width: 15vw;
    height: 10vw;
    margin: 2vw;
}

.topnav {
    overflow: hidden;
    width: 100%;
}


.topnav a:first-child:hover {
    opacity: 0.7;
}

.topnav a:not(:first-child):hover {
    text-decoration: underline;
    opacity: 0.7;

}

.topnav .icon {
    display: none;
}


/*-------Navigation slut-------*/

/*-------Slideshow-------*/

.overlay {
    filter: brightness(70%)
}

.img1 {
    background-image: url("images/splash3.png");
    background-position: 25% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;

}

.img2 {
    background-image: url("images/splash1.jpg");
    background-position: 75% 90%;
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
    animation: slidy 18s 0s backwards infinite;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.img3 {
    background-image: url("images/splash2.jpg");
    background-position: 75% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.img4 {
    background-image: url("images/splash4.jpg");
    background-position: 90% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.img5 {
    background-image: url("images/splash5.jpg");
    background-position: 90% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
}


.galleryContainer {
    width: 100%;
    height: 90vh;
    user-select: none;
}

.galleryContainer .slideShowContainer {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}


.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}


.galleryContainer .slideShowContainer > .captionTextHolder {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.galleryContainer .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.galleryContainer .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}


.galleryContainer .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.galleryContainer .moveRightPrevSlide {
    animation-name: moveRightPrev;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightPrev {
    from {
        margin-left: -100%;
        opacity: 1;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromBottom {
    from {
        opacity: 0;
        margin-top: 100px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromTop {
    from {
        opacity: 0;
        margin-top: -100px
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

.splash_text h1 {
    padding: 0 0 20vw 0;
    text-transform: uppercase;
    font-size: 5vw;
    color: white;
    font-weight: bolder;

}

.splash_text {
    position: absolute;
    text-align: center;
    color: white;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;

}

#splash_container a span {
    position: absolute;
    padding: 4vw;
    bottom: 6vw;
    left: 50%;
    width: 30px;
    height: 30px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
    animation: pil 2s infinite;
}


@keyframes pil {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

#forside_section .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2vw;
    padding: 10px;
    margin: 0vw 15vw 15vw 15vw;
    align-content: center;
}

#forside_section .grid-item {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
    padding: 35px;
    text-align: center;
}

.grid-itempic {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.grid-itempic img {
    width: 13vw;
    height: 13vw;
}


/*-------Slideshow slut-------*/


/*-----Kontakt-----*/

#kontakt_content {
    margin-left: 5vw;
    margin-right: 5vw;
}

#top {
    flex-wrap: wrap;
    display: flex;
}

.billede_madspild {
    background-image: url(/images/harold.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    box-shadow: 5px 3px 5px 2px rgba(0, 0, 0, 0.20);
}

.sectionwrapper_laes {
    flex-basis: 200px;
    flex-grow: 1;
    line-height: 20px;
}

.sectionwrapper1 {
    flex-basis: 300px;
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.08);
    line-height: 1.7;
}


.kant h2 {
    text-align: center;
}

.sectionwrapper1 .kant {
    margin: 1vw;
    line-height: 32px;
}

.sectionwrapper1 .kant a,
p {
    font-size: 14px;
}

.kant iframe {
    height: 25vw;
    width: 35vw;
}

.sectionwrapper1 a {
    color: black;
}

.sectionwrapper1 a:hover {
    opacity: 0.5;
}


/*------Kontakt slut------*/

/*------Læs mere------*/


.laes-mere_box_wrapper {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.09);
    margin: 0 12vw 6vw 12vw;
    padding: 4vw 2vw 4vw 2vw;
    justify-content: space-around;
}

.laes-mere_text {
    flex-basis: 300px;
    line-height: 25px;
}

.laes-mere_picture {
    flex-basis: 400px;
}

.laes-mere_picture img {
    width: 35vw;
    height: 20vw;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.10);

}

#laes-mere_content .sectionwrapper_laes {
    display: flex;
    flex-wrap: wrap;
    background-image: url("/images/background_laes-mere.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem;
    margin-bottom: 5vw;
    justify-content: center;
}

#laes-mere_content .col {
    flex-basis: 220px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.10);
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 2%;
    align-items: center;

}

#laes-mere_content .icons {
    text-align: center;
}

/*------Læs mere slut------*/

/*-------Table-----*/
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1vw;

}

table, td, th {
    border: 1px solid #4b804b;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f1f6ef;
}

#first_table_color td {
    background-color: #4b804b;
    border-style: inherit;
    border-color: inherit;
    color: white;
}

/*Scrollbar i hver sektion*/
/* width */
.scrolling {
    overflow-x: auto;
}
.scrolling::-webkit-scrollbar {
    width: 100%;
    border-radius: 10px;
}

/* Track */
.scrolling::-webkit-scrollbar-track {
    background-color: #d6dee2;
    border-radius: 10px;
}

/* Handle */
.scrolling::-webkit-scrollbar-thumb {
    background-color: #4b804b;
    border-radius: 10px;
}

/* Handle on hover */
.scrolling::-webkit-scrollbar-thumb:hover {
    background-color: rgba(75, 128, 75, 0.4);
}


/*-------Button-----*/
.button1 {
    background-color: #4b804b;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
}

.button2 {
    background-color: #4b804b;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
}

.button1:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*-------Input-----*/

form {
    text-align: center;
    border: #4b804b;
}

#ydre_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input_text input {
    padding: 14px;
    width: 40vw;
    height: 3vw;
    border-radius: 8px;
    border-color: #4b804b;
    text-align: center;
    border-style: solid;
    font-size: 20px;
}

.enter input {
    background-image: linear-gradient(140deg, #9ec59a, #2a612a);
    border-radius: 8px;
    border: none;
    color: white;
    padding: 6px 16px;
}

.enter input:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*-------Header-----*/

#search_header h1 {
    text-align: center;
    line-height: 2px;
}

#error_header h1 {
    font-size: 50px;
    text-align: center;
}


/*-------Footer-------*/
footer {
    margin-top: 8vw;
    width: 100%;
    background-color: #96c5d4;
    color: white;
    bottom: 0;
}

#footer_info {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    font-size: 13px;
}

.kontakt {
    flex-basis: 100px;
    margin: 1.5vw;
}


a.fa-facebook,
a.fa-instagram {
    color: white;
    text-decoration: none;
    font-size: 5vw;
    height: 2vw;
    width: 2vw;
}

a.fa-instagram {
    margin-left: 4vw;
}

a.fa-facebook:before,
a.fa-instagram:before {
    color: white;
}

.fa {
    text-align: center;
}

.fa:hover {
    opacity: 0.6;
}

.copyright p {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 2vw;
}

/*-------Footer slut-----*/


/*-------Media queries-------*/

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size: 23px;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .sectionwrapper1 {
        justify-content: center;
        text-align: center;
        margin-bottom: 10vw;
        margin-top: 5vw;
    }

    .sectionwrapper_laes {
    }

    .kant_frame iframe {
        height: 55vw;
        width: 80vw;
    }

    .laes-mere_box_wrapper {
        text-align: center;
    }

    .laes-mere_picture img {
        width: 100%;
        height: 35vw;

    }
    footer {
        margin-top: 30vw;
    }
}


/*-------Desktop skærme-----*/


@media screen and (min-width: 700px) {
    .topnav a:first-child {
        background-image: url(/images/logo5.png);
        background-size: cover;
        position: relative;
        width: 7vw;
        height: 5vw;
        margin: 1vw;
        margin-left: 2vw;
    }

    .topnav a:not(:first-child) {
        padding-top: 2vw;
        float: right;
        position: relative;
    }

    .kontakt {
        flex-basis: 200px;
    }

    a.fa-facebook,
    a.fa-instagram {
        font-size: 2vw;
        height: 1vw;
        width: 1vw;
        margin: 0;
    }

    a.fa-instagram {
        margin-left: 2vw;
    }

    footer a {
        color: white;
        font-size: 15px;
    }

    .splash_text h1 {
        font-size: 50px;
        text-align: left;
        line-height: 70px;
    }

    #splash_container a span {
        padding: 2vw;
    }

    .sectionwrapper1 {
        margin-left: 4vw;
    }

    .kant h2 {
        text-align: start;
    }

    .laes-mere_box_wrapper h2 {
        text-align: start;
        margin: 0;
    }

    .grid-itempic img {
        width: 5vw;
        height: 5vw;
    }
}


