<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Butikker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
</head>
<body>
<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/kontakt">Kontakt</a>
            <a href="/læs-mere">Læs mere</a>
            <a href="/samarbejdspartnere">Samarbejdspartnere</a>
            <a href="/forbruger">Find madvarer</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

</header>
<div>
    <h1>Butikker</h1>
</div>

<div class="scrolling">
<table border="1">
    <tr id="first_table_color">
        <td th:text="'By: ' + ${city}"></td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="store: ${stores}">
        <td th:text="${store.storeName}"></td>
        <td th:text="${store.adresse}"></td>
        <td>
            <a th:href="@{/varer(by=${city},butik=(${store.storeName}))}" class="button1">Se varer</a>
        </td>
    </tr>
</table>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>