<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        form {
            text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            /*padding: 8px;*/
            padding: 5px 8px 5px 8px;
        }
    </style>
</head>
<body>
<h1>Forbruger</h1>
<form action="/butikker" method="post">
    <p>Indtast by</p>
    <input type="text" name="By">
    <input type="submit" value="OK">
</form>
<br>
</body>
</html>