<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forside</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<section id="slideshowet">
    <div class="galleryContainer">
        <div class="slideShowContainer">

            <div class="captionTextHolder">
                <p class="captionText slideTextFromTop"></p>
            </div>
            <div class="imageHolder">
                <div class="img1 overlay"></div>
                <p class="captionText"></p>
            </div>
            <div class="imageHolder">
                <div class="img2 overlay"></div>
                <p class="captionText"></p>
            </div>
            <div class="imageHolder">
                <div class="img3 overlay"></div>
                <p class="captionText"></p>
            </div>
            <div class="imageHolder">
                <div class="img4  overlay"></div>
                <p class="captionText"></p>
            </div>
            <div class="imageHolder">
                <div class="img5 overlay"></div>
                <p class="captionText"></p>
            </div>
        </div>
        <div id="dotsContainer"></div>
    </div>
    <div id="splash_container">
        <div class="splash_text">
            <h1>Velkommen til<br> stop spild af mad</h1>
        </div>
        <a href="#forside_section"><span></span></a>
    </div>
</section>


<section id="forside_section">
    <h1>Madspild i Danmark</h1>

    <div id="forside_info">
        <div class="grid-container">
            <div class="grid-item">Vi er Danmarks største bevægelse mod madspild. Stop Spild Af Mad er en non-profit, frivillig forbrugerbevægelse, som kæmper mod madspild og siden 2008 har medvirket til at bringe massivt fokus på madspild i Danmark samt opnået en lang række resultater i både Danmark og i samarbejde med Regeringen, EU, Norden og FN. Vi bragte fokus på madspild i Danmark og vi bragte Danmarks kamp mod madspild på verdenskortet. Danmark genererer årligt madspild på mange hundrede tusind tons - og det kæmper vi for at stoppe.</div>
            <!--
            <section id="headline">
                <div class="slogan">
                    <h1 class="item-1">VÆR MED TIL AT STOPPPE MADSPILD</h1>
                </div>
            </section>-->
            <div class="grid-itempic"><img src="images/forsideicon.png"></div>

            <div class="grid-item">Stop Spild Af Mad har nationale og internationale samarbejder og vi bakkes op af over 60.000 danskere samt en lang række toneangivende toppolitikere og anerkendte madpersonligheder, som ikke vil finde sig i madspild. Stop Spild Af Mad optræder i mange nationale og internationale medier, bl.a. på BBC og CNN. Stop Spild Af Mad arbejder aktivt med realiseringen af FN’s verdensmål for bæredygtig udvikling UN Sustainable Development Goal 12.3.</div>

            <div class="grid-itempic"><img src="images/forsideicon2.png"></div>
            <div class="grid-item">Overskud af fødevarer fører til enorme mængder spild af mad verden over. Alene i Danmark, smider vi hvert år mere end 700.000 ton mad ud, hvilket har store miljø- og klimamæssige konsekvenser. I Danmark har der heldigvis været fokus på dette igennem flere år, hvor frivillige organisationer har stået i spidsen for at påvirke forbrugere til større fokus på forebyggelse af madspild. Vi anerkender at Økologisk Supermarked ligeledes bærer en del af ansvaret, men vi tror på, at vores små skridt, sammen med mange andres små tiltag, kan være med til at gøre en stor forskel.</div>
        </div>


    </div>
</section>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>

</html>
