<!DOCTYPE html>
<html lang="da">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/kontakt">Kontakt</a>
            <a href="/forbruger">Forbruger</a>
            <a href="/læs-mere">Læs mere</a>
            <a href="/samarbejdspartnere">Samarbejdspartnere</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!--  <div id="border_header">
            <hr>
        </div>-->
    </div>

</header>

<h1>Kontakt</h1>

<section id="kontakt_content">


    <div id="top">
        <div class="sectionwrapper">

            <div class="kant">
                <div class="billede_madspild"></div>
            </div>
            <div class="kant">
                <p>Vi er Danmarks største bevægelse mod madspild. <br> Vi har igangsat kampen mod madspild i Danmark <br> og vi bragte Danmarks kamp mod madspild på verdenskortet.</p>
            </div>

        </div>
        <div class="sectionwrapper1">

            <div class="kant">
                <h2>Find os</h2>
                <p>c/o Direktionen <br> Kongens Nytorv 28, 1 <br> 1050 København K <br>CVR nr.: 38 21 72 91 <br> <a href="mailto:info@stopspildafmad.org">info@stopspildafmad.org</a> <br> <a href="tel:+4540720601">+45 40 72 06 01</a></p>
            </div>
            <div class="kant">
                <div class="kant_frame">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.4497239214484!2d12.582686415927771!3d55.68116858053431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253182e787b4d%3A0xe220a49a58187886!2sKongens%20Nytorv%2028%2C%201050%20K%C3%B8benhavn!5e0!3m2!1sda!2sdk!4v1601340155088!5m2!1sda!2sdk" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>


    </div>

</section>




<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telefon</b></p>
            <a href="tel:+4540720601">+45 40 72 06 01</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:info@stopspildafmad.org">info@stopspildafmad.org</a>
        </div>

        <div class="kontakt">
            <p><b>Følg os</b></p>
            <a href="https://www.facebook.com/Madspild" aria-label="facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/stopmadspilddanmark/" aria-label="instagram" class="fa fa-instagram"></a>

        </div>
    </div>
    <div class="copyright">

        <p> © Copyright 2020 - All Rights Reserved ❘ Designed by Nicolai, Phuc & Maja</p>
    </div>


</footer>

<script src="script.js"></script>
</body>

</html>
