<!DOCTYPE html>
<html lang="da">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Læs mere</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">

</head>

<body>

<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/kontakt">Kontakt</a>
            <a href="/læs-mere">Læs mere</a>
            <a href="/samarbejdspartnere">Samarbejdspartnere</a>
            <a href="/forbruger">Find madvarer</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="border_header">
            <hr>
        </div>
    </div>

</header>

<h1>Læs mere</h1>

<section id="laes-mere_content">

    <div class="laes-mere_box_wrapper">
        <div class="laes-mere_text">
            <h2>I servicesektoren</h2>
            <p>Madspildet i den danske servicesektor udgør
                227.000-ton pr. år. Til sammenligning er det
                samlede madspild fra husholdningerne
                261.000-ton pr. år.</p>
        </div>

        <div class="laes-mere_picture">
            <img src="/images/laes-mere.jpeg" alt="hej">
        </div>
    </div>

    <div class="laes-mere_box_wrapper">

        <div class="laes-mere_picture">
            <img src="/images/kontakt.jpg" alt="hej">
        </div>
        <div class="laes-mere_text">
            <h2>Detailhandel</h2>
            <p>Det største madspild i servicesektoren stammer fra
                detailhandelen, der spilder 163.000 tons pr. år,
                svarende til 72 % af servicesektorens madspild.
            </p>
        </div>
    </div>

    <div class="sectionwrapper_laes">
        <div class="col">
            <div class="top">
                <div class="icons">
                    <img src="/images/apple.png" width="35px" height="55px">
                </div>
                <h2>Madvarene</h2>
                <p>Ikke forarbejdede friske fødevarer fra detailhandlen udgør ca. 46% af madspildets top 10 i husholdningen.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="top">
                <div class="icons">
                    <img src="/images/money.png" width="50px" height="55px">
                </div>
                <h2>Pris</h2>
                <p>Madspild er bestemt ikke gratis. Det anslås at det årligt koster danskerne 13,5 milliarder kroner inkl. moms og afgifter.</p>
            </div>
        </div>

        <div class="col">
            <div class="top">
                <div class="icons">
                    <img src="/images/truck.png" width="70px" height="55px">
                </div>

                <h2>Affald</h2>
                <p>I Danmark smider vi hvert år over 700.000 ton mad ud. Mad som kunne være spist</p>
            </div>
        </div>
    </div>

    <div class="laes-mere_box_wrapper">
        <div class="laes-mere_text">
            <h2>Skurkene</h2>
            <p>Af detailhandelens madspild står
                specialforretninger som slagtere, fiskeforretninger
                og grønthandlere for 12.000 tons pr. år, mens ikkespecialiserede forretninger som kiosker, købmænd,
                supermarkeder og varehuse står for 151.000-ton pr.
                år</p>
        </div>

        <div class="laes-mere_picture">
            <img src="/images/l%C3%A6s-mere2.jpg" alt="hej">
        </div>
    </div>



</section>




<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telefon</b></p>
            <a href="tel:+4540720601">+45 40 72 06 01</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:info@stopspildafmad.org">info@stopspildafmad.org</a>
        </div>

        <div class="kontakt">
            <p><b>Følg os</b></p>
            <a href="https://www.facebook.com/Madspild" aria-label="facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/stopmadspilddanmark/" aria-label="instagram" class="fa fa-instagram"></a>

        </div>
    </div>
    <div class="copyright">

        <p> © Copyright 2020 - All Rights Reserved ❘ Designed by Nicolai, Phuc & Maja</p>
    </div>


</footer>

<script src="script.js"></script>
</body>

</html>
