<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Samarbejdspartnere</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: #ffffff;
            text-align: center;

        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid rgba(0, 0, 0, 0);
            padding: 20px;
            font-size: 30px;
        }

        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .grid-container {
                display: grid;
                grid-template-columns: auto;
                text-align: center;
            }

            .grid-item img {
                max-width: 80vw;
                max-height: 40vw;
            }
        }
    </style>

</head>

<body>

<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/kontakt">Kontakt</a>
            <a href="/læs-mere">Læs mere</a>
            <a href="/samarbejdspartnere">Samarbejdspartnere</a>
            <a href="/forbruger">Find madvarer</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="border_header">
            <hr>
        </div>
    </div>

</header>



    <h1>Samarbejdspartnere</h1>


<div class="laes-mere_box_wrapper">
    <div class="laes-mere_text">
        <h2>Samarbejde med mange butikker</h2>
        <p>Nedenstående samarbejdspartnere er med til at deltage i kampen mod madspild og er med til
            at skabe en mere bæredygtig fremtid.</p>
    </div>

    <div class="laes-mere_picture">
        <img src="/images/foodheader.jpg" alt="SharingFood">
    </div>
</div>



<div class="grid-container">
    <div class="grid-item">
        <a href="https://netto.dk/">
            <img src="/images/nettologo.jpeg" alt="NettoLogo" style="width:400px;height:215px;">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://www.lidl.dk/">
            <img src="/images/lidllogo.png" alt="LidlLogo" style="width:220px;height:220px;">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://www.foetex.dk/">
            <img src="/images/fotexlogo.png" alt="FøtexLogo" style="width:240px;height:190px;">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://meny.dk/">
            <img src="/images/menylogo.png" alt="MenyLogo" style="width:450.25px;height:207.75px;">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://rema1000.dk/">
            <img src="/images/remalogo.png" alt="Rema1000Logo" style="width:350px;height:240px;">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://superbrugsen.coop.dk/">
            <img src="/images/superbrugsenlogo.jpg" alt="SuperBrugsenLogo">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://spar.dk/">
            <img src="/images/sparlogo.jpg" alt="SparLogo" style="width:512px;height:288px">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://www.aldi.dk/">
            <img src="/images/aldilogo.jpg" alt="AldiLogo">
        </a>
    </div>
    <div class="grid-item">
        <a href="https://fakta.coop.dk/">
            <img src="/images/faktalogo.png" alt="FaktaLogo">
        </a>
    </div>
</div>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telefon</b></p>
            <a href="tel:+4540720601">+45 40 72 06 01</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:info@stopspildafmad.org">info@stopspildafmad.org</a>
        </div>

        <div class="kontakt">
            <p><b>Følg os</b></p>
            <a href="https://www.facebook.com/Madspild" aria-label="facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/stopmadspilddanmark/" aria-label="instagram" class="fa fa-instagram"></a>

        </div>
    </div>
    <div class="copyright">
        <p> © Copyright 2020 - All Rights Reserved ❘ Designed by Nicolai, Phuc & Maja</p>
    </div>
</footer>

<script src="script.js"></script>
</body>

</html>
