<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Samarbejdspartnere</title>
    <link rel="stylesheet" href="style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/kontakt">Kontakt</a>
            <a href="/læs-mere">Læs mere</a>
            <a href="/samarbejdspartnere">Samarbejdspartnere</a>
            <a href="/forbruger">Find madvarer</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!--  <div id="border_header">
            <hr>
        </div>-->
    </div>

</header>

<div style="background-color:white;color:white;padding:20px;">
    <h1 style="font-size:40px">Samarbejdspartnere</h1>
    <h2 style="font-size:20px">Nedenstående samarbejdspartnere er med til at deltage i kampen mod madspild og er med til
    at skabe en mere bæredygtig fremtid.</h2>
</div>

<div style="background-color:white;color:black;padding:20px;width:25%;height:100px;float:left;">
    <a href="https://netto.dk/">
        <img src="/images/nettologo.jpeg" alt="NettoLogo" style="width:496px;height:219px;">
    </a>
</div>

<div style="background-color:white;color:black;padding:20px;margin-left:25%;height:100px;">
    <a href="https://www.lidl.dk/">
        <img src="/images/lidllogo.png" alt="LidlLogo" style="width:219px;height:219px;">
    </a>
</div>
<br>
<br>

<div style="background-color:white;color:black;padding:20px;margin-right:25%;height:100px;">
    <a href="https://www.foetex.dk/">
        <img src="/images/fotexlogo.png" alt="FøtexLogo" style="width:263px;height:192px;">
    </a>
</div>

<div style="background-color:white;color:black;padding:20px;width:25%;height:100px;float:right;">
    <a href="https://meny.dk/">
        <img src="/images/menylogo.png" alt="MenyLogo" style="width:647px;height:277px;">
    </a>
</div>

<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telefon</b></p>
            <a href="tel:+4540720601">+45 40 72 06 01</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:info@stopspildafmad.org">info@stopspildafmad.org</a>
        </div>

        <div class="kontakt">
            <p><b>Følg os</b></p>
            <a href="https://www.facebook.com/Madspild" aria-label="facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/stopmadspilddanmark/" aria-label="instagram" class="fa fa-instagram"></a>

        </div>
    </div>
    <div class="copyright">
        <p> © Copyright 2020 - All Rights Reserved ❘ Designed by Nicolai, Phuc & Maja</p>
    </div>
</footer>

<script src="script.js"></script>
</body>
</html>